.message {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(166, 166, 232);
    border-radius: 20px;
    margin-top: 20px;

    position: relative;

    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    background-color: rgb(213, 213, 213);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    right: -70%;
    transform: translateY(-50%);
}

.message:hover .tooltip {
    visibility: visible;
}